body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f3f7fa;
}

.App {
  max-width: 820px;
  min-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 30px;
}
.App__logo {
  display: block;
  width: 69px;
  height: 86px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.App__main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.App__list {
  max-width: 567px;
  width: 567px;
}

.Item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #eceff1;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Item__logo {
  width: 120px;
  margin-bottom: 10px;
}

.Item__buy {
  padding: 8px 30px;
  font-size: 16px;
  letter-spacing: 1.4px;
  color: #fff;
  background-color: #ff6d00;
  border: 0;
  border-radius: 5px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.Item__buy:hover {
  font-weight: bold;
}

.Item__buy span {
  display: block;
  margin-top: 3px;
}

.Item__price {
  width: 160px;
  padding: 25px 20px;
  text-align: center;
  border-right: 1px solid #eceff1;
}

.Item__price img {
  max-width: 100%;
}

.Fly {
  padding: 25px;
  flex-grow: 1;
}

.Fly time {
  display: block;
}

.Fly__time {
  display: flex;
  justify-content: space-between;
  font-size: 32px;
  margin-bottom: 7px;
}

.Fly__stops {
  position: relative;
  width: 100%;
  flex-shrink: 5;
  margin: 0 20px;
  margin-top: 5px;
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
  color: #8b9497;
}

.Fly__stops::before {
  content: '';
  position: absolute;
  height: 1px;
  right: 28px;
  left: 0;
  bottom: 30%;
  background-color: #d2d5d6;
}

.Fly__stops::after {
  display: block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('./icons/fly.png');
  background-size: 20px 20px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.Fly__date {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  font-weight: bold;
}

.Fly__date-arrival {
  text-align: right;
}

.Fly__date time {
  margin-top: 4px;
  font-weight: normal;
  color: #8b9497;
}

.App__form {
  width: 230px;
  margin-bottom: 20px;
  padding: 20px 0;
  background-color: #fff;
  border: 1px solid #eceff1;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.Form__title {
  margin-top: 0;
  padding-left: 15px;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 0.4px;
}

.Form__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.Form__item {
  list-style-type: none;
}

.Form__stops {
  display: flex;
  align-items: flex-end;
  padding: 5px 15px;
  font-size: 14px;
  letter-spacing: 0.6px;
  cursor: pointer;
}

.Form__stops:hover {
  background-color: #f1fcff;
}

.Form__stops span {
  display: none;
  margin-left: auto;
  font-size: 12px;
  text-transform: uppercase;
  color: #3e9ce8;
  vertical-align: bottom;
}

.Form__stops:hover span {
  display: inline-block;
}

@media only screen and (max-width: 850px) {
  .App_main {
    flex-direction: column;
  }

  .App__list {
    margin: 0 auto;
  }

  .App__form {
    display: block;
    width: 100%;
  }

  .Form__title {
    padding: 0;
    text-align: center;
  }

  .Form__list {
    flex-direction: row;
    justify-content: space-around;
  }

  .Form__stops {
    font-size: 12px;
  }

  .Form__stops:hover span {
    display: none;
  }
}
